@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

/* hide scrollbars */

::-webkit-scrollbar {
    display: none;
}  

/* navigation bar */

nav {
    padding: 40px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.subMenu1 {
    display: inline-block;
    
    padding-left: 50px;
}

.subMenu2 {
    display: inline-block;
}

.exploreContent a{
    display: block;
    padding: 20px;
    text-decoration: none;
    color: #000;
}

.hireContent a{
    display: block;
    padding: 20px;
    text-decoration: none;
    color: #000;
}

.exploreContent {
    display: none;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 1px 1px 10px #c5c5c5;
    border-radius: 10px;
}

.hireContent {
    display: none;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 1px 1px 10px #c5c5c5;
    border-radius: 10px;
}

.subMenu1:hover .exploreContent {
    display: block;
}

.subMenu2:hover .hireContent {
    display: block;
}

.nav1 img {
    width: 100px;
}

.nav1 button {
    cursor: pointer;
    padding: 10px 22px;
    background-color: #fff;
    border: none;
    font-weight: 600;
    word-spacing: 1px;
}

.nav2 button {
    background-color: #000;
    color: #fff;
    cursor: pointer;
    padding: 15px 20px;
    border-radius: 40px;
    border: none;
    font-weight: 600;
}

.nav2 button:first-child {
    background-color: #fff;
    color: #000;
    cursor: pointer;
    padding: 15px 20px;
    border-radius: 40px;
    border: none;
    font-weight: 600;
}

/* MAIN SECTION/HERO SECTION */

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.slogan {
    font-family: 'Source Serif 4', sans-serif;
    font-size: 70px;
    text-align: center;
    line-height: 70px;
    font-weight: 600;
    margin-top: 40px;
}

.sloganDesc {
    text-align: center;
    margin-top: 30px;
    padding: 0 500px;
    font-weight: 400;
    font-size: 17px;
}

.searchBar {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    background-color: #f0f0f0;
    border-radius: 30px;
    width: 650px;
    padding: 0 15px;
}

.searchBar input {
    border: none;
    text-align: left;
    padding: 20px 10px;
    padding-right: 150px;
    font-size: 15px;
    background-color: transparent;
    border-radius: 50px;
}

.searchBar input:focus {
    outline: none;
}

.searchIcon {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background-color: #ff4b96;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    cursor: pointer;
}

.trendingSearches {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}

.tsHeading {
    color: #757575;
    font-size: 14px;
}

.trendingKeywords button {
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
    padding: 5px 15px;
    border-radius: 20px;
    gap: 20px;
}

.trendingKeywords button:hover {
    background-color: #fff;
    border: 0.001rem solid #e0e0e0;
}

/* gallery */

.galleryHeader {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
}

.filterCheckbox button{
    padding: 10px 20px;
    background-color: #fff;
    border: 0.01rem solid #d0d0d0;
    border-radius: 10px;
    cursor: pointer;
}

.filterCheckbox {
    display: inline-block;
}

.checkboxContent a {
    display: block;
    text-decoration: none;
    color: #000;
    padding: 10px 20px;
    margin-top: 10px;
}

.checkboxContent {
    position: absolute;
    min-width: 150px;
    display: none;
}

.filterCheckbox:hover .checkboxContent {
    display: block;
}

.categories button {
    padding: 10px 20px;
    background-color: transparent;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-weight: 600;
}

.categories button:hover {
    background-color: #f3f3f3;
    border: none;
    color: #656565;
}

.filterButton {
    padding: 10px 20px;
    border: 0.01rem solid #e0e0e0;
    border-radius: 20px;
    cursor: pointer;
}

/* gallery content/pages */

.galleryCards {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;;
    align-items: center;
    gap: 20px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    font-size: 14px;
}

.card img {
    width: 350px;
    border-radius: 10px;
}

.cardMetadata {
    width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.cardMetadata i {
    color: #757575;
    font-size: 14px;
}

.cmd2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

/* bottom sign up button */

#bottomSignupBtn {
    margin: 50px 0;
    background-color: #000;
    color: #fff;
    padding: 15px 25px;
    border-radius: 25px;
    cursor: pointer;
    border: none;
    font-weight: bold;
}

/* cards showcase */

.slider {
    overflow: hidden;
    width: 100%;
}

.cardx img {
    width: 350px;
    border-radius: 20px;
}

.slide-track {
    display: flex;
    width: calc(200%);
    animation: scrollLeft 20s linear infinite;
}

.cardx {
    flex: 0 0 200px;
    margin-right: 10px;
    background: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

@keyframes scrollLeft {
    0% {
    transform: translateX(0);
    }
    100% {
    transform: translateX(-50%);
    }
}

/* footer section */

.footerSection {
    margin-top: 150px;
    padding: 0 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footerLogo img {
    width: 100px;
}

.footerLinks a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    padding: 10px 20px;
    cursor: pointer;
}

.footerSocials i {
    padding: 0 5px;
}

/* final links */

.finalLinks {
    color: #656565;
    margin-top: 80px;
    padding: 0 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
}

.finalLinks a {
    text-decoration: none;
    color: #656565;
    padding: 10px;
    font-weight: 500;
}

footer {
    margin-bottom: 50px;
}